<h3>Product Edit</h3>
<button (click)="back()">Back</button>
<table class="table" *ngIf="product">

    <tr>
        <th>PartNumber</th>
        <input type="text" [(ngModel)]="product.partNumber" >
    </tr>
    <tr>
        <th>Name</th>
        <input type="text" [(ngModel)]="product.name" >
    </tr>
    <tr>
        <th>Price</th>
        <input type="text" [(ngModel)]="product.price" >
    </tr>
    <tr>
        <th>Unit</th>
        <input type="text" [(ngModel)]="product.unit" >
    </tr>
    <tr>
        <th>Photopath</th>
        <input type="text" [(ngModel)]="product.photopath" >
    </tr>
    <tr>
        <th>Vendor</th>
        <select [(ngModel)]=product.vendorId>
            <option *ngFor="let vendor of vendors" [ngValue]=vendor.id>{{vendor.name}}</option>
        </select>
    </tr>
</table>
<button (click)="save()">Save</button>
<button (click)="check()">Check</button>