<h3>Create New User</h3>
<button (click)="back()">Back</button>
<p>Anything with * next to it is required</p>
<table>
    <tr>
        <th>Username</th>
        <input type="text" [(ngModel)]="user.username">
        <span>*</span>
    </tr>
    <tr>
        <th>Password</th>
        <input type="text" [(ngModel)]="user.password">
        <span>*</span>
    </tr>
    <tr>
        <th>First Name</th>
        <input type="text" [(ngModel)]="user.firstname">
        <span>*</span>
    </tr>
    <tr>
        <th>Last Name</th>
        <input type="text" [(ngModel)]="user.lastname">
        <span>*</span>
    </tr>
    <tr>
        <th>Phone Number</th>
        <input type="text" [(ngModel)]="user.phone" >
    </tr>
    <tr>
        <th>Email</th>
        <input type="text" [(ngModel)]="user.email" >
    </tr>
    <tr>
        <th>IsReviewer</th>
        <input type="checkbox" [checked]="user.isReviewer" [(ngModel)]="user.isReviewer">
    </tr>
    <tr>
        <th>IsAdmin</th>
        <input type="checkbox"  [checked]="user.isAdmin" [(ngModel)]="user.isAdmin">
    </tr>
</table>
<button (click)="createNew()">Create User</button>