<div>
<h3>Request Details and Lines</h3>
<button (click)="back()">Back</button>
<table class="table" *ngIf=request>
    <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Status</th>
        <th>Total</th>
        <th>Request Owner</th>
    </tr>
    <tr>
        <td>{{request.id}}</td>
        <td>{{request.description}}</td>
        <td>{{request.status}}</td>
        <td>{{fixDigit(request.total)}}</td>
        <td>{{request.user.username}}</td>
    </tr>
</table>

<h2>
    Line Items for Request
</h2>
<button (click)="review()" id="review">Review</button>

<button (click)="toLineCreate()">Create New Request Line</button>
<div *ngIf=request>
<table class="table" *ngIf=request.requestlines>
    <tr>
        <th>Line Item Id</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Product Price</th>
        <th>Subtotal</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr *ngFor="let line of request.requestlines">
        <td>{{line.id}}</td>
        <td>{{line.product.name}}</td>
        <td>{{line.quantity}}</td>
        <td>{{fixDigit(line.product.price)}}</td>
        <td>{{fixDigit(line.product.price * line.quantity)}}</td>
        <td>
            <button (click)="toLineEdit(line.id)">Edit</button>
        </td>
        <td>
            <button (click)="revealDelete(line.id)" value={{line.id}} id={{line.id}}>Delete</button>
            <button (click)="doDelete(line.id)" *ngIf=buttonHide>Yes</button>
            <button (click)="doNotDelete()" *ngIf=buttonHide>No</button>
        </td>
    </tr>
</table>
</div>
</div>