<div>
<h3> User List</h3>
<input [(ngModel)]="searchcriteria" type="text" placeholder="search">

<!--Potential Drop down Menu for sorting, however would need to simplify
     <select [(ngModel)]="sortcriteria">
    <option *ngFor="let key of keys">{{key}}</option>
</select> -->
<table class="table" *ngIf=users>
    <tr>
        <th (click)="changeSort('id')">Id</th>
        <th (click)="changeSort('username')">Username</th>
        <th (click)="changeSort('lastname')">Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>IsReviewer</th>
        <th>IsAdmin</th>
        <th>Detail</th>
        <th *ngIf=loggedUser.isAdmin>Edit</th>
    </tr>
    <tr *ngFor="let user of users | search:keys:searchcriteria | sort:sortcriteria:asc" >
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.lastname}}, {{user.firstname}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.email}}</td>
        <td>{{user.isReviewer ? "Yes": "No"}}</td>
        <td>{{user.isAdmin ? "Yes": "No"}}</td>
        <td routerLink="/users/detail/{{user.id}}">
            <button>Detail</button>
        </td>
        <td *ngIf=loggedUser.isAdmin routerLink="/users/edit/{{user.id}}">
            <button>Edit</button>
        </td>
    </tr>
</table>
<button routerLink="/users/new/">Create New User</button>
</div>