
<h3> User List</h3>
<input [(ngModel)]="searchcriteria" type="text" placeholder="search">
<table class="table" *ngIf=users>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>IsReviewer</th>
        <th>IsAdmin</th>
        <th>Detail</th>
        <th>Edit</th>
    </tr>
    <tr *ngFor="let user of users | search:keys:searchcriteria" >
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.lastname}}, {{user.firstname}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.email}}</td>
        <td>{{user.isReviewer ? "Yes": "No"}}</td>
        <td>{{user.isAdmin ? "Yes": "No"}}</td>
        <td routerLink="/users/detail/{{user.id}}">
            <button>Detail</button>
        </td>
        <td routerLink="/users/edit/{{user.id}}">
            <button>Edit</button>
        </td>
    </tr>
</table>
<button routerLink="/users/new/">Create New User</button>
