<p>productlist works!</p>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Part Number</th>
        <th>Name</th>
        <th>Price</th>
        <th>Unit</th>
        <th>PhotoPath</th>
        <th>Vendor Id</th>
    </tr>
    <tr *ngFor="let product of products">
        <td>{{product.id}}</td>
        <td>{{product.partNumber}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.unit}}</td>
        <td>{{product.photopath}}</td>
        <td>{{product.vendorId}}</td>
    </tr>
</table>